<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>

    <h2>Registration Form</h2>

    <form id="loginform" action="/register" method="post">
        <label>Full Name:</label>
        <input type="text" id="Fullname" name="fullname" required>
        <br><br>

        <label>username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>


        <label>Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        
        <input type="submit" value="Register">
        <button type="button" onclick="resetForm()">Reset</button>
    </form>    
    <script>
        function resetForm()
        {
            document.getElementById("loginform").reset();
        }
    </script>
</body>
</html>
